@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');




.right {
  /* background-color: rgb(208, 255, 0); */
  /* width: 70%; */
  height: 100vh;
  float: right;

}


.right_body {
  margin: 0 100px;
}

.header,
.main {
  margin: 4rem 3rem;
}

.greet,
.app_desp {
  color: gray;
  margin: 30px 0 0 0;
  font-size: 20px;
}

.app_title {
  color: yellow;
  font-weight: bolder;
  font-size: 60px;
  letter-spacing: 20px;
}

.user_id,
.user_pass {
  display: flex;
  flex-direction: column;
  margin: 10px;
}


.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn_login button {
  height: 2rem;
  width: 15rem;
  border-radius: 10px;
  border: none;
  background-color: yellow;
  color: white;

  font-weight: bolder;
  font-size: 23px;
  text-shadow: 2px 3px 5px #000000;
  margin-top: 50px;
  cursor: pointer;
}


button:active {
  box-shadow: 4px 2px 5px 0 gray;
  transform: translateY(4px);
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.link a {

  color: #dada3e;
  font-size: large;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.follow,
.icon a {
  margin: 15px;
  color: gray;
}