.modalcontainer{
    z-index: 999;
    width: 90%;
    height: 90%;
    top: 0  ;

}
/* .yellow {
    border: none;
    width: 100%;
    height: auto;
    background-color: #fed300;
    border-radius: 7px;
    box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
} */
.title span{
float: right;
cursor: pointer;

}
.title{
    width: 100%;
}


.btn{
    width: 70%;
    color: white;
    box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    height: 4vh;
}


.modalimg {
    width: 3rem;
    height: auto;
    margin-top: 3vh;
}

.inputText{
    box-shadow:0px -6px 3px 0px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.19);
}