@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

.maincontainer * {
	font-family: "Lexend Deca", sans-serif;
}
.container{
    max-width: 80%;
    margin: 2rem 0rem 2rem 0rem;
border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.h1{
    color: #fed300;
}

.card{
    background-color: rgb(246, 246, 209);
    transition: transform .2s;
}

.card:hover {
    -ms-transform: scale(1.06); /* IE 9 */
    -webkit-transform: scale(1.06); /* Safari 3-8 */
    transform: scale(1.06); 
    cursor: pointer;
    background-color: rgb(244, 244, 188);

  }

.information{
    color: black;
    font-weight:bolder;
    font-size: larger;
}
relative Link{
   text-align: right;
}
.heading{
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    color: #fed300;
}
.seperator {
	border-bottom:1px solid #a2a2a2;
	width: 45px;
	display: inline-block;
	margin: 20px;
}

.image1,.image3{
   
    object-fit: cover !important;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.image2{
   
    object-fit: cover !important;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
}


.image5{
    height: 230px;
    object-fit: cover !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}

.image4,.image6{
    
    object-fit: cover !important;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
}
/* Using tailwind for this */
