.inputs input {
  border-radius: 8px;
  border: none;
  background-color: #f6f6f6;
  box-shadow: inset 0px 1px 1px #bfbfbfe6;
  height: 2rem;
  width: 15rem;
  padding-left: 15px;
}

.Sub_btn button {
  height: 2rem;
  width: 70%;
  border-radius: 10px;
  border: none;
  background-color: #ffd401;
  color: white;

  font-weight: bolder;
  font-size: 20px;
  text-shadow: 2px 3px 5px #000000;
  /* margin-bottom: 10px; */
  cursor: pointer;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: flex;
  position: relative;
  /* Add more custom styles here if needed */
}