@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');




.right {
  margin: auto;
  /* width: 80%; */

}

.regtitle {
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  font-weight: 400;
  font-size: larger;
}

.btn_submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_submit button {
  height: 2rem;
  width: 30rem;
  border-radius: 10px;
  border: none;
  background-color: #ffd401;
  color: white;
  align-items: center;
  font-size: 20px;
  text-shadow: 2px 3px 5px #000000;
  margin: 10px;
  cursor: pointer;
}

.regtitle a {
  height: 2rem;
  width: 5rem;
  border-radius: 10px;
  border: none;
  background-color: #ffd401;
  color: white;
  align-items: center;
  font-size: 20px;
  text-shadow: 2px 3px 5px #000000;
  cursor: pointer;
}

.btn_submit button:active {
  box-shadow: 4px 2px 5px 0 gray;
  transform: translateY(4px);
}

.first{
  display: flex;
  width: 100%;
}
.addsign{
  cursor: pointer;
  float: right;
  position: relative;
  right: 0rem;
  top: 1rem;
}

.emaillist{
  margin-left: 12rem;
    border-radius: 20px;
    max-height: 7.5rem;
    width: 50%;
    padding: 10px;
    border: none;
    box-shadow: 0 1px 2px black;
    overflow-y: auto;
}

.emailitem{
  display: flex;
  align-items: center;
}
.emailitem i{
  cursor: pointer;
  margin-right: 1rem;
 
}