
/* Responsive Hnadshake */
.handshakemaindiv{
    max-width: 80%;
    height: auto;
    position: relative;
}
.handshakeimg{
    width: 100%;
}
.anchermaindiv{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */

}
.anchermaindiv a{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    color: #fff; 
    font-size: 100%; 
    font-weight: bold; 
    background-color: rgba(0, 0, 0, 0);
    padding: 0 4rem 5rem 4rem;
    border-radius: 5px; 
}

@media only screen and (min-width: 300px) and (max-width: 800px) {

    .anchermaindiv a{
        width: 100%;
        font-size: 50%; 
        padding:0rem 0rem 1.5rem 0rem;
        border-radius: 5px; 
    }
    }
    @media only screen and (min-width: 700px) and (max-width: 900px) {
        .anchermaindiv a{
            width: 100%;
            font-size: 100%; 
            padding:1.5rem 1rem 1.5rem 1rem;
            border-radius: 1rem; 
        }
      }