

.text img {
  width: 80%;
  height: 80%;
}

.img {
  max-width: 100% !important;
  width: 80% !important;
  height: auto;
}

.text area {
  cursor: pointer;
}
.outercontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.row{
  display: flex;
}
.section {
  padding: 50px 0;
  width: 80%;
  /* min-height: 100vh;*/
}

.sec_title {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.sec_title .title {
  position: relative;
  display: block;
  font-size: 1.5rem;
  line-height: 24px;
  color: #fed300;
  font-weight: 500;
  margin-bottom: 15px;
}

.sec_title h2 {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom: 18px;
}

.sec_title h2:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 3px;
  background-color: #d1d2d6;
}

.sec_title .text {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
  margin-top: 35px;
}

.sec_title.light h2 {
  color: #ffffff;
}

.sec_title.text_center h2:before {
  left: 50%;
  margin-left: -25px;
}

.list_style_one {
  position: relative;
}

.list_style_one li {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  font-weight: 400;
  padding-left: 35px;
  margin-bottom: 12px;
}

.list_style_one li:before {
  content: "\f058";
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
  font-size: 18px;
  padding: 0px;
  color: #ff2222;
  font-weight: 600;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1.6;
  font-family: "Font Awesome 5 Free";
}

.list_style_one li a:hover {
  color: #fed300;
}

.btn_style_one {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: #fed300;
}

.btn_style_one:hover {
  background-color: #fed300;
  color: #ffffff;
}
.about_section {
  position: relative;
  padding: 120px 0 70px;
  text-align: left;
}

.about_section .sec_title {
  margin-bottom: 45px;
}

.about_section .content_column {
  position: relative;
  margin-bottom: 50px;
}

.about_section .content_column .inner_column {
  position: relative;
  padding-left: 30px;
}

.about_section .text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
}

.text img{
  width: 57% !important; 
  height: 57% !important;
}

.about_section .list_style_one {
  margin-bottom: 45px;
}

.about_section .btn_box {
  position: relative;
  cursor: pointer;
}

.about_section .btn_box a {
  padding: 15px 50px;
}

.about_section .image_column {
  position: relative;
}

.about_section .image_column .text_layer {
  position: absolute;
  right: -110px;
  top: 50%;
  font-size: 325px;
  line-height: 1em;
  color: #ffffff;
  margin-top: -175px;
  font-weight: 500;
}

.about_section .image_column .inner_column {
  position: relative;
  padding-left: 80px;
  padding-bottom: 0px;
}
.about_section .image_column .inner_column .author_desc {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  background: orange;
  padding: 10px 15px;
  left: 96px;
  width: calc(100% - 152px);
  border-radius: 50px;
}
.about_section .image_column .inner_column .author_desc h2 {
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  margin: 0;
}
.about_section .image_column .inner_column .author_desc span {
  font-size: 16px;
  letter-spacing: 6px;
  text-align: center;
  color: #fff;
  display: block;
  font-weight: 400;
}
.about_section .image_column .inner_column:before {
  content: "";
  position: absolute;
  width: calc(50% + 5rem); /*--old value 80px*/
  height: calc(100% + 10rem); /*--old value 160px*/
  top: -80px;
  left: -3px;
  background: transparent;
  z-index: 0;
  border: 2.7rem solid #fed300;
}

.about_section .image_column .image_1 {
  position: relative;
}
.about_section .image_column .image_2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.about_section .image_column .image_2 .img,
.about_section .image_column .image_1 .img {
  box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
  border-radius: 46px;
}

.about_section .image_column .video_link {
  position: absolute;
  left: 70px;
  top: 170px;
}

.about_section .image_column .video_link .link {
  position: relative;
  display: block;
  font-size: 22px;
  color: #191e34;
  font-weight: 400;
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.about_section .image_column .video_link .link:hover {
  background-color: #191e34;
  color: #fff;
}

@media (max-width: 480px) {
  .sec_title .title {
    font-size: 0.7rem;
  }
  .sec_title h2 {
    font-size: 20px;
  }
  .about_section .sec_title {
    margin-bottom: 15px;
  }
  .btn_style_one {
    font-size: 10px;
    line-height: 15px;
  }
  .about_section .text {
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 15px;
  }
  .about_section .image_column .inner_column:before {
    width: calc(20% + 2.5rem);
    height: calc(50% + 5rem);
    border: 1.2rem solid #fed300;
  }

  .about_section .image_column .inner_column .img {
    border-radius: 10px;
  }
  .img {
    max-width: 40% !important;
    width: 38% !important;
  }
  .about_section .image_column .image_1 {
    top: -57px;
    left: -34px;
  }
}

@media (max-width: 780px) {

    .sec_title h2 {
        font-size: 22px;
        padding-bottom: 10px;
    }
    .about_section .text {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;}
    
}
