@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');




.right {
  margin: auto;
  /* width: 80%; */

}

.regtitle {
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px #9ba4ab;
  font-weight: 400;
  font-size: larger;
}

.btn_submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_submit button {
  height: 2rem;
  width: 30rem;
  border-radius: 10px;
  border: none;
  background-color: #ffd401;
  color: white;
  align-items: center;
  font-size: 20px;
  text-shadow: 2px 3px 5px #000000;
  margin: 10px;
  cursor: pointer;
}

button:active {
  box-shadow: 4px 2px 5px 0 #9ba4ab;
  transform: translateY(4px);
}