.cardd {
  width: 22rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gst_cardd {
  width: 30rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.ntf h6 {
  font-weight: bold;
  font-size: 14px;
}


.green {

  color: rgb(13, 194, 13);

}

.black {
  color: black;

}

.abtn {

  width: 8rem;
  border-radius: 5px;
  border: none;
  background-color: #ffd401;
  color: white;
  height: 2em;
  text-shadow: 2px 3px 5px #000000;
  margin-top: 5%;
  cursor: pointer;
}
.btndisable{
  pointer-events: none;
  cursor: not-allowed; 
}

.table th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
  font-size: 15px;
}


.table td,
.table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6 !important;
}