.cardd {
  width: 22rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.ntf h6 {
  font-weight: bold;
  font-size: 14px;
}


.green {

  color: rgb(10, 233, 10);

}

.black {
  color: black;

}

.abtn {

  width: 8rem;
  border-radius: 5px;
  border: none;
  background-color: yellow;
  color: white;
  height: 2em;
  text-shadow: 2px 3px 5px #000000;
  margin-top: 5%;
  cursor: pointer;
}