.profilerow {
  display: flex;
  width: 100%;
}

.profileimg {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profileimg img {
  width: 7rem;
  height: 7rem;
  border-radius: 10px;
}

.profileimg h3 {
  color: #363E5C;
}

.profileimg .info {
  text-align: left;
}

.centrecoloum {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}

.profilerow .content {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.cardd,
.cardd1 {
  width: 28rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardd1 {
  width: 93%;
}

.gst_cardd {
  width: 30rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.ntf h6 {
  font-weight: bold;
  font-size: 14px;
}



.btndisable {
  cursor: not-allowed;
  pointer-events: none;
}

.btndisable .abtn {
  background-color: #9897a9;
}

.green {

  color: rgb(13, 194, 13);

}

.black {
  color: black;

}

.abtn {

  width: 8rem;
  border-radius: 5px;
  border: none;
  background-color: #ffd401;
  color: white;
  height: 2em;
  text-shadow: 2px 3px 5px #000000;
  margin-top: 5%;
  cursor: pointer;
}

.table th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
  font-size: 15px;
}


.table td,
.table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6 !important;
}



.cardd a {
  text-decoration: none;
}

.cardd p {
  color: #649e07;
  cursor: pointer;
}

.cardd p:hover {
  text-decoration: underline;
}


@media (max-width:768px) {
  .cardd1 {
    width: fit-content
  }
}