.profilerow {
  display: flex;
  width: 100%;
}

.profileimg {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 1rem 2rem;
  /* padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; */
}

.profileimg img {
  width: 7rem;
  height: 7rem;
  border-radius: 10px;
}

.profileimg h3 {
  color: #363E5C;
}

.profileimg .info {
  text-align: left;
}

.centrecoloum {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
}

.profilerow .content {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.cardd,
.cardd1 {
  width: 28rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardd1 {
  width: 93%;
}

.gst_cardd {
  width: 29rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.ntf h6 {
  font-weight: bold;
  font-size: 14px;
}



.btndisable {
  cursor: not-allowed;
  pointer-events: none;
}

.btndisable .abtn {
  background-color: #9897a9;
}

.green {

  color: rgb(13, 194, 13);

}

.black {
  color: black;

}

.abtn {

  width: 8rem;
  border-radius: 5px;
  border: none;
  background-color: #ffd401;
  color: white;
  height: 2em;
  text-shadow: 2px 3px 5px #000000;
  margin-top: 5%;
  cursor: pointer;
}

.table th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
  font-size: 15px;
}


.table td,
.table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6 !important;
}



.cardd a {
  text-decoration: none;
}

.cardd p {
  color: #649e07;
  cursor: pointer;
}

.cardd p:hover {
  text-decoration: underline;
}

.profileinfo{ margin-left:1rem;
   text-align: left }


@media (max-width:992px) {
  /* .profileimg img{
    width: 6rem;
    height: 6rem;
  } */
  .reversecol{
    display: flex;
  flex-direction: column-reverse;
  }
}
@media (max-width:600px) {
  .cardd1 {
   min-width: 28rem !important;
   width: 28rem;
  }   
}
@media (max-width:600px) {
  .content {
    flex-direction: column;
  }
  .profilerow .content{
    height: fit-content;
  }
}
@media (min-width:769px) {
  .cardd1 {
    width: 93%;
  }

}

@media screen and (min-width: 601px) and (max-width: 1025px){
  /* .content {
    flex-direction: column;
  }
  .profilerow .content{
    height: fit-content;
  } */
  .profileimg img{
    width: 6rem;
    height: 6rem;
  }
  .profilerow > div:nth-child(1){
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .profilerow > .content:nth-child(2){
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .content > div:nth-child(1),
  .content > div:nth-child(2){
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
