
.container{
    background-color: #fff;
    width: 100%;
    height: fit-content;
}

.heading{
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    color: #fed300;
}
.seperator {
	border-bottom:1px solid #a2a2a2;
	width: 45px;
	display: inline-block;
	margin-top: 1rem;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #fed300;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 15px 0px;
}
.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}
.social_media i{
    cursor: pointer;
}