@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');




.dpass input {
  margin: 5px;
  border-radius: 20px;
  height: 2rem;
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 0 1px 2px black;
}

.dpass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dpass label {
  width: 15rem;
  color: rgb(164, 163, 163);
  font-weight: bold;
}


.passindicator {
  display: flex;
  margin-left: 13rem;
}

.passindicator span {
  height: 10px;
  width: 30px;
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  margin: 10px;
}

/*----------------Password Strenght Indicator Start------------------*/
.passindicator span.weak[strenghtScore="0"]
 {
  background-color: rgb(246, 10, 10);
} 
.passindicator 
span.medium1[strenghtScore="2"],
span.medium1[strenghtScore="1"],
span.weak[strenghtScore="2"],
span.weak[strenghtScore="1"] {
  background-color:  rgb(243, 172, 30);
} 
.passindicator 
span.medium2[strenghtScore="3"],
span.medium1[strenghtScore="3"],
span.weak[strenghtScore="3"] {
  background-color: rgb(168, 255, 105);
} 
.passindicator span.strong[strenghtScore="4"],
span.medium2[strenghtScore="4"],
span.medium1[strenghtScore="4"],
span.weak[strenghtScore="4"]{
  background-color: rgb(32, 161, 66);
} 

/*----------------Password Strenght Indicator End------------------*/




.pmanadatory {
  color: red;
  font-size: 22px;
  margin: 0 10px;
  /* box-shadow: ; */
}