.row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    margin-left: 0.1%;
  }
  
  .allport {
    width: 90vw;
    height: auto;
    background-color: white;
  }
  .img1{
    width: 6rem;
    height: 6rem;
  }
  .allport * {
    font-weight: bolder;
  }
  
  .abd {
    margin-left: 2rem;
  }
  
  .h31 {
    font-weight:700;
  }
  
  .headerbar {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .leftear{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .workport {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  .input {    
    margin: 5% 1rem;
    width: 85%;
  }
 
  .mandatory::after {
    content: ' *';
    color: red;
    
  }
  .ltxt {
    font-size: 95%;
    font-weight: 500;
  }
  
  .ipc {
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    border: 1px solid gainsboro;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
  }
  .txtbox select,
  .txtbox option,
  .txtbox input[type="date"]{
    font-weight: 500;
  }
  .txtbox input[type="text"]{
    font-weight: 400;
   
  }
  
  .p1{
    font-weight: 500;
    margin-top: 0.5rem;
  }
  .button {
    position: relative;
    margin-bottom: 1rem;
  }
  .btnsbt {
    border: none;
    color: white;
    width: 8rem;
    font-weight: bold;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #ffd901;
    box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.24);
  }
  .profileport{
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.card{
  width: 10em;
  height: 9em;
  margin: 0;
  position: relative;
}
