.help_btn button {
  height: 3rem;
  width: 25rem;
  border-radius: 25px;
  border: none;
  background-color: #ffd401;
  color: white;

  font-weight: bolder;
  font-size: 23px;
  text-shadow: 2px 3px 5px #000000;
  margin-bottom: 10px;
  cursor: pointer;
}