
.container *{
  /* background-color: green; */
}
.container{
  height: 100vh;
  overflow: hidden;
  margin: 0;
  height: -webkit-fill-availabel;
  transition: box-shadow .3s;
  float: left;
}
.help{
  justify-content: center;
  align-items: center; 
}
.container:hover{
  box-shadow: 5px 5px 20px 1px #e9e9e9;  /*comment this to remove box-shadow */
}
.clogo{
  display: flex;
  max-width: 100%;
  width: 100%;
  margin: 10% 0 0 5%;
}

.helpbar{
  margin: 10% 0 50% 5%;
}

/* Individual starts */
.help_text {
  margin: 2%;
}
.dash_text {
  margin: 2%;
}
.logout_text {
  margin: 2%;
}
.reset_text {
  margin: 2%;
}
.helpbar h6{
  font-size: 2em;
}
/* Individual ends */
.copyright h5{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.50rem;
  margin: 0 0 5% 0;
  color: rgb(158, 158, 158);
}

.copyright img{
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 14%;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
@media only screen and (min-width: 1300px) {
  .clogo{
    display: flex;
    max-width: 70%;
    width: 70%;
  } 
  .copyright h5{
    font-size: 1rem;
  }
}
.copyright{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 100%;
  margin: 50% 0 10% 5%;
}
