.scroll_sec {
  height: 100vh;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section {
  scroll-snap-align: start;
  margin-top: 10vh;
}
.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage_header_wrapper {
  background: black;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.homepage_header_wrapper video {
  height: 100vh;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
  opacity: 0.5;
}
.homepage_header_content {
  color: #fff;
  position: relative;
  text-align: center;
  top: 30%;

  z-index: 2;
}
.homepage_header_content p {
  text-transform: uppercase;
  font-family: "YAFcfiEWarI 0", _fb_, auto;
  font-size: 18px;
}


/* =============Trial */



.typecontainer {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  padding: 70px;
}
.first_line,
.second_line {
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  margin: 0.5rem auto;
  color: #FFF;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
}
.first_line {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 50px;
  
  /* define animation types for text + cursor */
  animation: typewriter_1 6s steps(33) 1s 1 normal both,
    first_cursor 900ms steps(33) 8;
}
.first_line p::after{
  animation: blink 500ms linear infinite alternate;
}
.second_line {
  font-size: 6rem;
  
  /* define animation types for text + cursor */
  animation: typewriter_2 5s steps(31) 1s 1 normal both,
    second_cursor 900ms steps(31) infinite;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}



@keyframes typewriter_1 {
  from {
    width: 0%;
  }
  to {
    width: 65vw;
  }
}
@keyframes typewriter_2 {
  from {
    width: 0;
  }
  to {
    width: 90vw;
  }
}

@keyframes first_cursor {
  from {
    border-right-color: transparent
  }
  to {
    border-right-color: transparent
  }
}
@keyframes second_cursor{
  from {
    border-right-color: transparent
  }
  to {
    border-right-color: transparent
  }
}



/* ======================= */
.codebox{
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.typewriter {
  font-size: 25px;
  text-wrap: inherit !important;
  margin: 0;
  font-family: "Scada", sans-serif;
  color: white;
  
}
.section pre {
  overflow: hidden !important;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



@keyframes type1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes type2 {
  from {
    width: 0;
  }
  1%{
    opacity: 1;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}







.typewriter::after {
    margin-left: 2px;
    animation: blink 500ms linear infinite alternate;
    content: "";
    width: 8px;
    height: 19px;
    background: white;
    display: inline-block;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.var_highlight {
  color: #c0ad60;
}

.string_highlight,.string_highlight1 {
  color: #fed300;
}


.head_fs40 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
  font-family: "Ubuntu", sans-serif;
  word-wrap: break-word;
}

.section04{
  left: 50%;
  position: absolute;
  bottom: 0;
  top: 386px;
  color: #FFF;
}
.section a{
  text-decoration: none;
}


.section a[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3_scroll_down_arrow {
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
background-size: contain;
background-repeat: no-repeat;
}

.ca3_scroll_down_link {
cursor:pointer;
height: 40px;
width: 40px;
line-height: 60px;
position: absolute;
left: 50%;
bottom: 0px;
color: #FFF;
text-align: center;
font-size: 70px;
z-index: 100;
text-decoration: none;
text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
top: 400px;
-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
50%  { opacity: 1;  }
100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
50%  { opacity: 1;  }
100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
0%   { transform:translate(0,-20px); opacity: 0;  }
50%  { opacity: 1;  }
100% { transform:translate(0,20px); opacity: 0; }
}













.line1 {
  /* position: relative; */
  /* top: 50%; */
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim_typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

