@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



.inputfield input {
  /* margin: 0 2px; */
  border-radius: 20px;
  height: 2rem;
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 0 1px 2px black;
}

.inputfield {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputfield label {
  width: 15rem;
  color: black;
  font-weight: bold;
}

.manadatory {
  color: red;
  font-size: 22px;
  margin: 0 10px;

}