/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.section {
  background-image: url("../../../Images/contactusbgimg.jpg");
}
.about{
  /* opacity: 0; */
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgimage {
  background-size: cover;
  background-position: center center;
}

.breadcrumbs_custom {
  position: relative;
  padding: 35px 0 40px;
  vertical-align: middle;
  text-align: center;
  background-color: #151515;
}

.breadcrumbs_custom h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.breadcrumbs_custom li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-right: 32px;
  font-size: 17px;
  line-height: 1.7;
}

.breadcrumbs_custom li:nth-child(1)::after {
  content: "\1F852";
  position: absolute;
  top: 52%;
  right: 5px;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%);
}

.breadcrumbs_custom .breadcrumbs_custom_path li a,
.breadcrumbs_custom .breadcrumbs_custom-path li a:focus,
.breadcrumbs_custom .breadcrumbs_custom-path li a:active {
  color: #ffe500;
}
.breadcrumbs_custom a:hover,
.breadcrumbs_custom li.active {
  color: #fff;
}

.breadcrumbs_custom li:last_child {
  padding-right: 0;
}

.bg_default {
  background-color: #fff;
}

.contactsection h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #151515;
}

.rd_mailform {
  position: relative;
  text-align: left;
}

.row_30 {
  margin-bottom: -30px;
}
.row_30 > * {
  margin-bottom: 30px;
}
.form_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form_input {
  order: 3;
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9b9b9b;
  background-color: #f5f5f5;
  background-image: none;
  border-radius: 0;
  -webkit-appearance: none;
  transition: 0.3s ease-in-out;
  border: 1px solid #f5f5f5;
}
.for_validation {
  position: absolute;
  right: 4px;
  top: 0;
  z-index: 11;
  margin-top: 2px;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  color: #f5543f;
  transition: 0.3s;
}

.form input,
button,
select,
textarea {
  outline: none;
}
.layout_bordered__main_inner p,
.form input,
.form textarea,
.form button {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #3c3a3a;
}
.form_label {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  pointer-events: none;
  text-align: left;
  z-index: 9;
  transition: 0.25s;
  will-change: transform;
  transform: translateY(-50%);
}
.form_label,
.form_label_outside {
  margin-bottom: 0;
  color: #9b9b9b;
  font-weight: 400;
}

.form textarea.form_input {
  height: 135px;
  min-height: 50px;
  max-height: 230px;
  resize: vertical;
}

.form_wrap.has_error .form_input {
  border-color: #f5543f;
}

.rd_mailform .button {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}
.rd_mailform button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
.button_block {
  display: block;
  width: 100%;
}
.button_primary,
.button_primary:focus,
.button_primary:active {
  color: #000;
  background-color: #ffe500;
  border-color: #ffe500;
}
.button_primary,
.button_secondary,
.button-darker,
.button-gray-2,
.button-lighter {
  border: 0;
  padding: 13px 43px;
}


.container,
.container_wide {
  min-width: 270px;
  max-width: 480px;
}


.heading_8{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .1em;
  color: #151515;
  text-transform: uppercase;
}

/* .page .list_inline-_xs { */
  .list_inline-_xs {
  transform: translate3d(0, -10px, 0);
  margin-bottom: -10px;
  margin-left: -5px;
  margin-right: -5px;
}
.list_inline-_xs ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.heading_8 + * {
  margin-top: 18px;
}

/* .page .icon-default { */
  .icon_default {
  color: #9b9b9b;
}
.icon_sm {
  font-size: 19px;
}
.icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
}
.list_inline_xs  a{
  text-decoration: none;
  transition: .25s;
}

.unit .unit_body a{
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #3c3a3a;
}

.layout_bordered__aside_item  a:active,
.layout_bordered__aside_item  a:hover{
  color: #ffe500;

}
/* .page .list-inline-xs > * { */
  .list_inline_xs > * {
  display: inline-block;

  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.list_inline_xs .icon_primary {
  color: #ffe500;
}

/** @section Responsive units */
/*
*
* Responsive unit
* --------------------------------------------------
*/
.unit {
  display: flex;
  flex: 0 1 100%;
  margin-bottom: -30px;
  margin-left: -35px;
}

.unit > * {
  margin-bottom: 30px;
  margin-left: 35px;
}

.unit:empty {
  margin-bottom: 0;
  margin-left: 0;
}

.unit_body {
  flex: 0 1 auto;
}

.unit_left, .unit_right {
  flex: 0 0 auto;
  max-width: 100%;
}

.unit_spacing_xxs {
  margin-bottom: -10px;
  margin-left: -10px;
}

.unit_spacing_xxs > * {
  margin-bottom: 10px;
  margin-left: 10px;
}

.unit_spacing_xxs .icon_sm {
  position: relative;
  top: 2px;
}

.unit-spacing-xs {
  margin-bottom: -20px;
  margin-left: -20px;
}

.unit-spacing-xs > * {
  margin-bottom: 20px;
  margin-left: 20px;
}

.unit-spacing-sm {
  margin-bottom: -15px;
  margin-left: -20px;
}

.unit-spacing-sm > * {
  margin-bottom: 15px;
  margin-left: 20px;
}

.unit-spacing-md {
  margin-bottom: -15px;
  margin-left: -30px;
}

.unit-spacing-md > * {
  margin-bottom: 15px;
  margin-left: 30px;
}

.map{
	width: 100%;
  height: 70vh;
	margin-top: 1rem;
	
}

@media (min-width: 1200px) {
  .container,
  .container_wide {
    max-width: 1200px;
  }
  .breadcrumbs_custom {
    padding: 95px 0 110px;
  }
  .contactsection h3 {
    font-size: 2.25rem;
  }
  .contactsection h3 {
    font-size: calc(1.35rem + 1.2vw);
  }
}

@media (max-width: 479px), (min-width: 992px) {
  .layout_bordered__aside_item:first-child {
    padding-top: 0;
  }
  .layout_bordered__aside_item + .layout_bordered__aside_item {
    border-top: 1px solid #ebebeb;
}
}
@media (min-width: 576px) {
  .layout_bordered__aside_item {
    margin: 0 15px;
    padding: 15px 0;

  }

}

@media (min-width: 992px) {
  .breadcrumbs_custom h2 {
    font-size: 48px;
    line-height: 1.16667;
  }

  .container,
  .container_wide {
    max-width: 960px;
  }

  .section_lg {
    padding: 100px 0;
  }

  .layout_bordered {
    display: flex;
    flex-direction: row;
  }
  .layout_bordered__main {
    width: 71%;
    padding: 0 30px;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

  }
  .layout_bordered__main_inner {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .layout_bordered__aside {
    width: 29%;
  }
  * + .layout_bordered__aside {
    border-left: 1px solid #ebebeb;
  }

  .layout_bordered > * + * {
    margin-top: 0;
  }
  .layout_bordered > * + * {
    margin-top: 50px;
  }
  .layout_bordered__aside_item {
    margin: 0 30px;
  }

  .contactsection h3 + * {
    margin-top: 16px;
}

}
@media (min-width: 768px) {
  .container,
  .container_wide {
    max-width: 720px;
  }
  .breadcrumbs_custom {
    padding: 70px 0 80px;
  }
  .section_lg {
    padding: 70px 0;
  }
  .section-md,
  .section_lg,
  .section-xl,
  .section-xxl,
  .section-xxl {
    padding: 60px 0;
  }
  .contactsection h3 {
    font-size: 36px;
    line-height: 1.33333;
  }

  * + .rd_mailform {
    margin-top: 45px;
  }
  * + .rd_mailform {
    margin-top: 30px;
  }

  .layout_bordered__aside_item {
    padding: 26px 0;
  }
}
