
.container{
  border: 5px solid red;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  height: -webkit-fill-availabel;
}
.help{
  justify-content: center;
  align-items: center; 
}

.clogo{
  display: flex;
  max-width: 100%;
  width: 100%;
  margin: 10% 0 0 5%;
}

.helpbar{
  margin: 10% 0 50% 5%;
}

/* Individual starts */
.help_text {
  margin: 3%;
}
.dash_text {
  margin: 3%;
}
.logout_text {
  margin: 3%;
}
.reset_text {
  margin: 3%;
}
h6{
  font-size: 2em;
}
/* Individual ends */
h5{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.50rem;
  margin: 0 0 5% 0;
  color: rgb(158, 158, 158);
}

.copyright img{
  margin-top: -2%;
  margin-bottom: 10%;
  margin-left: 14%;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
@media only screen and (min-width: 1300px) {
  .clogo{
    display: flex;
    max-width: 70%;
    width: 70%;
  } 
  h5{
    font-size: 1rem;
  }
}
.copyright{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 100%;
  margin: 40% 0 10% 5%;
}
