.profileimg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .myfolder_btn {
    /* justify-content: space-evenly; */
  }
  
  .myfolder_folder {
    /* display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 31px 10px; */
   
  }
  
  .folder {
    height: 8rem;
    width: 9rem;
    border-radius: 15%;
    cursor: pointer;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
  }
  
  .folder_date {
    font-size: 12px;
    font-weight: 400;
  }
  
  .myfolder_folder a {
    text-decoration: none;
  }