.navclass{
    display: none;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.navclass img{
    width: 20%;
}
.taxko_text{
    font-weight: bolder;
    font-size: 30px;
    color: #ffd403;
    letter-spacing: 0.3em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .navclass{
      display: flex;
    }
  
  }