.section {
  background-image: url("../../../Images/careerbgimg.jpg");
}
.about {
  /* opacity: 0; */
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgimage {
  background-size: cover;
  background-position: center center;
}

.breadcrumbs_custom {
  position: relative;
  padding: 35px 0 40px;
  vertical-align: middle;
  text-align: center;
  background-color: #151515;
}

.breadcrumbs_custom h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.breadcrumbs_custom li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-right: 32px;
  font-size: 17px;
  line-height: 1.7;
}

.breadcrumbs_custom li:nth-child(1)::after {
  content: "\1F852";
  position: absolute;
  top: 52%;
  right: 5px;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%);
}

.breadcrumbs_custom .breadcrumbs_custom_path li a,
.breadcrumbs_custom .breadcrumbs_custom-path li a:focus,
.breadcrumbs_custom .breadcrumbs_custom-path li a:active {
  color: #ffe500;
}
.breadcrumbs_custom a:hover,
.breadcrumbs_custom li.active {
  color: #fff;
}

.breadcrumbs_custom li:last-child {
  padding-right: 0;
}

.about_section .content_column {
  position: relative;
  margin-bottom: 50px;
}

.about_section .content_column .inner_column {
  position: relative;
  padding-left: 30px;
}
.sec_title{
  color: #0C2B4A;
  
}
.sec_title h2{
  font-size: 2.5rem !important;
  font-weight: 700;

}


.carousel{
  width: 80%;
}

.carousel img{
  transition: transform 0.5s ease; 
}
.carousel img:hover {
  transform: scale(1.1); /* Adjust the scale factor for the zoom effect */
}

.hr{
  color: #0C2B4A;
  border-top: 3px solid;
 
}
.about_section .text {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
}



.team_section1 {
  padding: 0px 0px 100px;
}
.boxrow2 {
  margin-top: 30px;
  --bs-gutter-x: 30px;

}



.team_section1 .block2 {
  background-color: #E9F9FD;
  box-shadow: none;
  border-radius: 5px;
  width: 100%;
  /* border: 1px solid #eee; */
  position: relative;
  padding: 45px 40px 55px;
  z-index: 1;
  overflow: hidden;
  height: 100%;
}

.team_section1 .text {
  text-align: left;
  padding: 0px;
}
.text p{
  font-size: 18px;
  line-height: 35px;
  color: black;
  margin: 0px 5px;
}


.team_section1 .text h4 {
  color: black;
}
.tag{
  font-weight: bold;
}


.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.slider .figure {
  display: flex;
  animation: slide 30s linear infinite;
}

.slider_item,
.slider_item1 {
  width: 100%;
  /* flex: 0 0 100%; /* Ensure each slide takes full width of the container */
  /* box-sizing: border-box;  */
  /* Add additional styles as needed */
}
.slider_item1{
  animation: zoom-in-zoom-out 10s ease infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  66.66%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(-300%);

  }
 
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* ========   end slider */

@media (min-width: 1200px) {
  .container,
  .container_wide {
    max-width: 1200px;
  }
  .breadcrumbs_custom {
    padding: 95px 0 110px;
  }
  .core_value{
        max-width: 1355px;
        padding-left: 15px;
        padding-right: 15px;
  }
}

.container,
.container_wide {
  min-width: 270px;
  max-width: 480px;
}

@media (min-width: 992px) {
  .breadcrumbs_custom h2 {
    font-size: 48px;
    line-height: 1.16667;
  }

  .container,
  .container_wide {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container,
  .container_wide {
    max-width: 720px;
  }
  .breadcrumbs_custom {
    padding: 70px 0 80px;
  }
}
