
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modaldisplay{
    display: block;
     width: 100vw; /* Full width */
    height: 100%;
  }
  
  /* Modal Content */
  .modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .pdfview,.terms{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;  
    height: 500px;
    overflow-y: hidden;
  }
  .pdf{
    width: 80%;
    height: 500px;
    justify-content: center;
    margin: 2rem 1rem;
    border: rgb(132, 128, 128) solid 1px;
  }
  .pdfTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-weight: 700  !important;
    margin: 0.5rem,0rem !important;
  }
  .terms{
    height: fit-content;
  }
  .errormsg{
    margin: 1rem 0rem;
    font-weight: 200;
  }
  .errormsg::before{
    content: "!";
    display: inline-block;
    width: 1.5em;
    min-width: 1.5em;
    height: 1.5em;
    margin: 0 0.625em;
    border-radius: 50%;
    background-color: #f27474;
    color: #fff;
    font-weight: 600;
    line-height: 1.5em;
    text-align: center;
  }