html{
    height: -webkit-fill-availabel;
}
body{
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    height: -webkit-fill-availabel;
    justify-content: center;
}
.maincontainer{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.header a{
    margin-left: 0.5rem;
}
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    width: 100vw;
  }
  .form {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem;
  }
  input{
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 -4px 3px 0 rgba(0,0,0,0.2), 0 -4px 25px 0 rgba(0,0,0,0.19);
    height: 3rem;
  }
  /* .login{
    border: none;
  } */
  .labels {
    text-align: left;
    font-size: 1.2rem;

  }
  #social{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.handles{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
button{

    color: white;
    background-color: #ffd301;
    text-shadow: 0px 3px 5px rgb(95, 90, 90);
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 25%;
    border: none;
    width: 70%;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 5px 3px 0 rgb(0 0 0 / 20%), 0 5px 25px 0 rgb(111 111 111 / 19%);
}
img{
    width: 9rem;
}
.labels{
    font-family: 'Oswald', sans-serif;
}
.inputs{
    justify-content: center;
}
.handles{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}
#forgot{
    color: #ffd301;
    position: relative;
    left: 60px;
    margin-top: 1rem;
    font-family: 'Noto Serif', serif;

}
#welcome, #devs, #social{
    color: #3b3944;
}
#twitter{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
#devs, #social{
    font-size: 0.7rem;
    font-family: 'Noto Serif', serif;
}
#devs{
    margin-bottom: 0.5rem;
}
h2{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: #ffd301;
    letter-spacing: 0.5rem;
    margin-left: 1rem;
}
@media (min-width: 768px) {
    .maincontainer {
      /* display: none; */
    }
  }
  
